body {
    background-color: #EEE;
    font-family: Verdana;
    font-size: 10pt;
    margin: 0 0 0 0;
}

#tudo {
    background-color: #FFF;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
}

#menu {
	background-color: #000;
	width: 100%;
	height: 2em;
	font-size: 11px;
	vertical-align: middle;
	color: #DDD;
	margin-bottom: 1em;
}

#menu a {
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

#menu a:visited {
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

#menu a:active {
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

#menu a:hover {
	color: #EEE;
	font-weight: bold;
	text-decoration: underline;
}

#conteudo {
	margin-left: 0.5em;
    margin-right: 0.5em;
}

#conteudo a {
	color: #0000FF;
	text-decoration: underline;
}

#conteudo a:visited {
	color: #0000FF;
	text-decoration: underline;
}

#conteudo a:active {
	color: #0000FF;
	text-decoration: underline;
}

#conteudo a:hover {
	color: #000000;
	text-decoration: underline;
}

#rodape {
	padding-top: 5em;
	font-size: 11px;
	text-align: right;
	margin-left: 20em;
    margin-right: 2em;
}

#rodape a {
	color: #000;
}

#rodape a:visited {
	color: #000;
}

#rodape a:active {
	color: #000;
}

#rodape a:hover {
	color: #000;
	font-weight: bold;
}

#mensagem_usuario {
	text-align: right;
	color: #777;
	font-size: 11px;
}

.divAfastada {
	margin-right: 20em;
}

.table_form {
	width: 70%;
	margin-left: 6em;
}

.label_table_form {
	text-align: right;
}

.wid_table_form {
	text-align: left;
}
