body {
    background-color: #EEE;
    font-family: Verdana;
    font-size: 10pt;
    margin: 0 0 0 0;
}

#tudo {
    background-color: #FFF;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#menu {
	background-color: #000;
	width: 100%;
	height: 2em;
	font-size: 11px;
	vertical-align: middle;
	color: #DDD;
	margin-bottom: 1em;
}

#menu a {
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

#menu a:visited {
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

#menu a:active {
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

#menu a:hover {
	color: #EEE;
	font-weight: bold;
	text-decoration: underline;
}

#conteudo a {
	color: #0000FF;
	text-decoration: underline;
}

#conteudo a:visited {
	color: #0000FF;
	text-decoration: underline;
}

#conteudo a:active {
	color: #0000FF;
	text-decoration: underline;
}

#conteudo a:hover {
	color: #000000;
	text-decoration: underline;
}

.divAfastada {
	margin-right: 20em;
}
