{% extends "super.html" %}

{% block titulo %}{{ block.super }} - Cadastro de aluno{% endblock titulo %}

{% block topo %}
    <div align="center"><h1>Cadastro de usuário</h1></div>
{% endblock topo %}

{% block conteudo %}
    {% if msg %}
        <strong>{{ msg }}</strong>
    {% else %}
        {% if form.errors %}
            <font color="red">Erros de validação:<br /><br /></font>
            {% for campo in form %}
                {% if campo.errors %}
                    <br /><strong>{{ campo.label }}</strong> {{ campo.errors }}
                {% endif %}
            {% endfor %}
        {% endif %}
        <form method="post" action="{% url cursos.views.cadastrar %}">
            <table class="table_form" cellpadding="2" cellspacing="0">
                <tr>
                    <td class="label_table_form">Nome:</td>
                    <td class="wid_table_form">{{ form.first_name }}</td>
                </tr>
                <tr>
                    <td class="label_table_form">Sobrenome:</td>
                    <td class="wid_table_form">{{ form.last_name }}</td>
                </tr>
                <tr>
                    <td class="label_table_form">E-mail:</td>
                    <td class="wid_table_form">{{ form.email }}</td>
                </tr>
                <tr>
                    <td class="label_table_form">Nome de usuário:</td>
                    <td class="wid_table_form">{{ form.username }}</td>
                </tr>
                <tr>
                    <td class="label_table_form">Senha:</td>
                    <td class="wid_table_form">{{ form.password }}</td>
                </tr>
                <tr>
                    <td class="label_table_form">Confirme a senha:</td>
                    <td class="wid_table_form">{{ form.confirmacao_senha }}</td>
                </tr>
                <tr>
                    <td class="label_table_form">CPF:</td>
                    <td class="wid_table_form">{{ form.cpf }}</td>
                </tr>
                <tr>
                    <td class="label_table_form">&nbsp;</td>
                    <td class="submit_table_form"><input type="submit" value="Cadastrar" /></td>
                </tr>
            </table>
        </form>
    {% endif %}
{% endblock conteudo %}