<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block titulo %}Join - Gerenciador de Cursos{% endblock titulo %}</title>

{% block metatags %}
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="pt-br" />
<meta name="keywords" content="cursos, inscrição, estudos" />
<meta name="description" content="Join é um sistema de gerenciamento de inscrições em cursos." />
{% endblock metatags %} 

{% block style %} 
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}style.css" />
{% endblock style %} 

{% block scripts %} 

{% endblock scripts %}

</head>
<body>

    <div id="tudo">
        <div id="menu">
            {% block menu %}
                <a href="{% url views.bemvindo %}">Página Inicial</a> | 
                <a href="{% url cursos.views.cursos %}">Listagem de Cursos</a> | 
                {% if user.is_authenticated %}
                    <a href="{% url django.contrib.auth.views.logout %}">Sair do sistema</a> | 
                {% else %}
                    <a href="{% url django.contrib.auth.views.login %}">Entrar no sistema</a> | 
                {% endif %}
                <a href="{% url views.bemvindo %}admin/" target="_blank">Administração</a>
            {% endblock menu %}
        </div>
        
        <div id="topo">
            {% block topo %}
            {% endblock topo %}
        </div>
        
        <div id="conteudo">
            {% block conteudo %}
            {% endblock conteudo %}
        </div>
        
        <div id="rodape">
            {% block rodape %}
                <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-nc-sa/2.5/br/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/2.5/br/88x31.png" /></a><br /><span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dc:title" rel="dc:type">Join - Gerenciador de Cursos</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Francisco Ant&#244;nio da Silva Souza</span> is licensed under a <br />
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/br/" target="_blank">Creative Commons Atribui&#231;&#227;o-Uso N&#227;o-Comercial-Compartilhamento pela mesma Licen&#231;a 2.5 Brasil License</a>.
            {% endblock rodape %}
        </div>
    </div>

</body>
</html>
